{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock title %}

{% block body %}

    <div class="container">
        <div class="d-flex flex-column">
            <p class="m-auto">You Are Not Author Of This is Post</p>
            <p class="m-auto">
                <a class="btn btn-warning" href="{% url 'register' %}">Register</a> or 
                <a class="btn btn-warning" href="{% url 'login' %}">Login</a>
            </p>
        </div>
    </div>

{% endblock body %}